@import './config.less';
@import './normalize.less';
@import './reElement.less';
@import './inconfont.less';

.c-w100 {width: 100px;}
.c-w150 {width: 150px;}
.c-w300 {width: 300px;}

.c-wv80 {width: 80%;}

.c-ml10 {margin-left: 10px;}
.c-ml20 {margin-left: 10px;}

.input-w300 {width: 380px;}

.c-clickIcon {cursor: pointer;}

.c-tr {text-align: right;}
